
                <!--Start Our clients-->
        
                <section class="our-clients pb-5" id="clients">
                    <div class="layer"></div>
                    <div class="container logos-gr ">
                        <h1 class="section-title pb-5 text-center" style="color: #fff;">Clients</h1>
                        
        <!--First row-->
                        
                        <div class="row justify-content-center pb-4">
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6 ">
                                <div class=" white-bg M.Salah-logo ">
                                    <a href="https://drsalah.eldeepweb.com/site/" target="_blank">
                                        <img src="assets/images/0Dr.M.Salah.png" alt="MS logo ">
                                    </a>
                                </div>
                            </div>
                            
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6 ">
                                <div class=" white-bg D.Rabie-logo  ">
                                    <a href="https://rabeeyecenter.com/index.html" target="_blank"> 
                                        <img src="assets/images/1Dr.M.Rabie.png" alt="Dr.Rabie">
                                    </a>
                                </div>
                            </div>
        
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6 ">
                                <div class=" white-bg Dar-logo ">
                                    <a href="https://www.facebook.com/%D9%85%D9%83%D8%AA%D8%A8-%D8%AF%D8%A7%D8%B1-%D8%A7%D9%84%D9%85%D8%B9%D9%85%D8%A7%D8%B1-%D9%84%D9%84%D8%AA%D8%B5%D9%85%D
                                    9%8A%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%87%D9%86%D8%AF%D8%B3%D9%8A%D8%A9-140240479898242/" target="_blank">
                                        <img src="assets/images/2DarElmeamar.png" alt="Dar Elmemar">
                                    </a>
                                </div>
                            </div>
        
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6 ">
                                <div class=" white-bg Istudio-logo ">
                                    <a href="https://istudiomedia.com/" target="_blank"> 
                                        <img src="assets/images/3iStudio.png" alt="IStudio">
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6 ">
                                <div class=" white-bg Elgamal-logo ">
                                    <a href="https://www.facebook.com/ElGamalAirConditioning/?ref=pages_you_manage" target="_blank"> 
                                        <img src="assets/images/4ElGamal.png" alt="ElGamal">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
        <!--second row-->
                        
                        <div class="row justify-content-center pb-5">
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6">
                                <div class=" white-bg Turning-logo ">
                                    <a href="https://turningpointconsultancies.com/" target="_blank">
                                        <img src="assets/images/5TurningPoint.png" alt="Turning Point">
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6">
                                <div class=" white-bg Waflle-logo  ">
                                    <a href="https://www.facebook.com/Waffle.Man.Eg/?ref=pages_you_manage" target="_blank">
                                        <img src="assets/images/Waffle.png" alt="waflle Clinic">
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-6 col-6">
                                <div class=" white-bg Smarg-logo ">
                                    <a href="https://smargherbs.com/" target="_blank">
                                        <img src="assets/images/7SmargHerbs.png" alt="Smarg Herbs">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-6">
                                <div class=" white-bg oriental-logo ">
                                    <a href="http://www.orientalrelax.sa/" target="_blank">
                                        <img src="assets/images/Oriental.png" alt="orientalrelax">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-6">
                                <div class=" white-bg Glubus-logo ">
                                    <a href="https://globus-net.com/" target="_blank">
                                        <img src="assets/images/Globus.png" alt="Glubus">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div> 
                </section>
                
                <!--End Our clients-->

