 <!--First-Section-->
 <section class="start digital-mar pb-5">
    <div class="container">
<app-navbar></app-navbar>
      
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="head-text-1 col-xl-8 col-md-12">
                <h2>Social Media <br> Marketing</h2>
                <p>We reach your  <span>mind</span>, not just
                    your phone. Spread your wings <span>Social Media</span>.
                </p>
            </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12">
                <div class="head-img">
                    <img src="assets/images/Digital-Vector.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End First-Section-->



        <!--Start Digital-Section-->

<section class=" digital-second pt-5 pb-5 ">
<h1 class="section-title pb-5">Projects</h1>

<div class="digital-back">
    <owl-carousel-o [options]="customOptions" >
            
        <ng-template carouselSlide id="owl-slide-1">
            <div class="item"><img src="assets/images/Digital-2.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-2">
            <div class="item"><img src="assets/images/Digital-3.png"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-3">
            <div class="item"><img src="assets/images/Digital-4.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-4">
            <div class="item"><img src="assets/images/Digital-5.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-5">
            <div class="item"><img src="assets/images/Digital-6.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-6">
            <div class="item"><img src="assets/images/Digital-7.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-7">
            <div class="item"><img src="assets/images/Digital-8.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-8">
            <div class="item"><img src="assets/images/Digital-9.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-9">
            <div class="item"><img src="assets/images/Digital-10.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-10">
            <div class="item"><img src="assets/images/Digital-11.jpg"></div>
        </ng-template>

        <ng-template carouselSlide id="owl-slide-11">
            <div class="item"><img src="assets/images/Digital-12.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-12">
            <div class="item"><img src="assets/images/Digital-13.png"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-13">
            <div class="item"><img src="assets/images/Digital-14.jpg"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-14">
            <div class="item"><img src="assets/images/Digital-15.png"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-15">
            <div class="item"><img src="assets/images/Digital-16.png"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-16">
            <div class="item"><img src="assets/images/Digital-17.png"></div>
        </ng-template>
  
        <ng-template carouselSlide id="owl-slide-17">
            <div class="item"><img src="assets/images/Digital-18.png"></div>
      </ng-template>
      <ng-template carouselSlide id="owl-slide-18">
        <div class="item"><img src="assets/images/Digital-19.png"></div>
        </ng-template>

  
        <ng-template carouselSlide id="owl-slide-19">
            <div class="item"><img src="assets/images/Digital-20.png"></div>
        </ng-template>
        <ng-template carouselSlide id="owl-slide-20">
            <div class="item"><img src="assets/images/Digital-1.jpg"></div>
        </ng-template>
      
  
       
</owl-carousel-o>

</div>

<div class="text-center pt-5 pb-2">

<a href="https://www.behance.net/eldeepwebdev" class="btn btn-primary digital-button">View Projects</a>
</div>


</section>

<!--End Digital-Section-->



<app-footer></app-footer>