
            <!--First-Section-->
            <section class="start">
                <div class="container">
                   <app-navbar></app-navbar>
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-5 col-md-12">
                            <div class="head-text-1">
                            <h2>Web Design <br> & Development</h2>
                            <p><span>Website</span> is your window to
                                the internet and through it <br>
                                <span>everyone</span> can reach you.</p>
                        </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="head-img-1">
                                <img src="assets/images/Web-Vector.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End First-Section-->
        
            <!--Start Second-Section-->
        
        
            <section class="pt-5 pb-5 web-section">
                <div class="container-fluid mt-5 mb-5">
                    <h1 class="section-title pb-5">Projects</h1>
                    <owl-carousel-o [options]="customOptions" >
            
                        <ng-template carouselSlide id="owl-slide-1">
                        <div class="item">
                            <div class="sec">
                                <img src="assets/images/i studio.png" class="layering-img">
                                <div class="sec-body">
                                    <h4 class="sec-title">i Studio</h4>
                                    <div class="sec-text">
                                        Media Production
                                <a href="https://istudiomedia.com/" class="btn btn-primary ">Visit Site</a>
                                    </div>
                                    
                                  </div>
                            </div>
                        </div>
                        </ng-template>

                        <ng-template carouselSlide id="owl-slide-2">
                        <div class="item"> 
                            <div class="sec">
                                <img src="assets/images/rabie.png" class="layering-img">
                                <div class="sec-body">
                                    <h4 class="sec-title">Dr Rabee </h4>
                                    <div class="sec-text">
                                        Medical Eye Center
                                    <a href="https://rabeeyecenter.com/index.html" class="btn btn-primary ">Visit Site</a>
                                    </div>
                                    
                                  </div>
                            </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide id="owl-slide-3">
                    <div class="item">
                        <div class="sec">
                            <img src="assets/images/Salah.png" class="layering-img">
                            <div class="sec-body">
                                <h4 class="sec-title-1">Dr. Mohamed Salah</h4>
                                <div class="sec-text-1">
                                    Dental Clinic
                                    <a href="https://www.drmosalah.com/" class="btn btn-primary ">Visit Site</a>
                                </div>
                                
                              </div>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide id="owl-slide-4">
                    <div class="item">
                        <div class="sec">
                            <img src="assets/images/Smarg.png" class="layering-img">
                            <div class="sec-body">
                                <h4 class="sec-title">Smarg</h4>
                                <div class="sec-text">
                                    Organic Plants
                                    <a href="https://smargherbs.com/" class="btn btn-primary ">Visit Site</a>
                                </div>
                               
                              </div>
                        </div>
                    </div>
                   
               </ng-template>
               </owl-carousel-o>
                </div>
            </section>
        
        
        
        
            <!--End Second-Section-->
            <app-footer></app-footer>
        