   <!--Start Missions-->

   <section class="our-mission pt-5 pb-5" id="mission">
    <div class="container">
        <h1 class="section-title pb-5 text-center" style="color: #fff;">Mission</h1>
        <div class="row pt-5 justify-content-center">
           
            
            <div class="col-xl-6 col-lg-6 col-md-12 pt-5 mission-text">
                <p class="p-mission"> <strong>Cloud</strong> is our <span>limit</span>, we`re trying to
                    make world easier with <strong>software</strong>.
                    We`re here to make your work well
                    known and get bigger without being
                    mugged, with a very small fees,
                    Because we <span>love</span>  what we do.</p>

                    <a class="btn btn-light mb-5" href="https://wa.me/+201559912398">Book Now</a>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12 img-mission d-flex justify-content-xl-end  pt-5 pb-2">
                <img src="assets/images/missions.png">
            </div>
            
        </div>
    </div>
</section>

<!--End Missions-->