      <!--Start Strategy-->

      <section class="our-strategy">
        <div class="container">

            <h1 class="section-title pb-5">Strategy</h1>
            <div class="row pt-5 justify-content-center">


                <div class="col-xl-6 col-lg-6 col-md-12 pt-5 strategy-text text-center">
                    <p class="strategy-p-1">
                        We reach your <span> mind</span>, <br>
                        not just your phone.
                    </p>
                    <p class="strategy-p-2">
                        We are trying to make life easier with software
                    </p>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-12 img-mission d-flex justify-content-xl-end  pt-4 pb-2">
                    <img src="assets/images/Strategy.png" class="img-fluid">
                </div>
                
            </div>

        </div>
    </section>



    <!--End Strategy-->
