
        <!--First-Section-->
        <section class="start mobile-app pb-5">
            <div class="container">
                <app-navbar></app-navbar>
           
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-6 col-md-12">
                        <div class="head-text-1">
                        <h2>Mobile <br> Apps</h2>
                        <p>Get your own <span>Mobile App</span>  right now,
                            help your clients to be more attached to
                            you in elegant, technical and easy way.
                           
                           </p>
                    </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="head-img">
                            <img src="assets/images/mobileApp-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End First-Section-->

        <!--Start Mobile-Section-->

        <section class="pt-5 pb-5 mobile-second">
            <div class="container">
                <h1 class="section-title pb-5">Projects</h1>
                <div class="row pt-5 pb-5">

                    <div class="col-xl-2 col-lg-2"></div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 pb-5">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 logo-icon d-flex justify-content-start">
                            <img src="assets/images/TP logo.png" class="">
                            
                        
                        </div>
                        <h3 class="img-title pb-3 pt-3">Turning Point</h3>
                        <p class="par-1"><b>Turning Point</b> Mobile Application <br> <span>iOS & Android 2021</span></p>
                        <p class="par-2 pt-4 pb-4"><b>Turning Point</b> is a long-term investment
                            consultancy firm, that provides the best <span>investment recommendation</span> which suits
                            our client`s needs.</p>
                            <a href="https://www.behance.net/gallery/112616333/Turning-Point-Brand-Identity" class="btn btn-primary mob-button">View Project</a>                                    
                        
                    </div>
                    

                    <div class="col-xl-6 col-lg-6 col-md-6 mobile-image d-flex justify-content-center  justify-content-Xl-start">
                        <img src="assets/images/mobileApp-2.png">
                    </div>

                    


                </div>
                </div>
                
           

        </section>

         <!--End Mobile-Section-->


<app-footer></app-footer>