 <!--Start Services-->


 <section class="section-services" id="our-services">

    <div class="container">
        <h1 class="section-title pb-5 text-center">Services</h1>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 text-center " data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="single-service">
                    <div class="part-1">
                     <img class="imgs" src="assets/images/1BrandIdentityicon.png">
                        <h3 class="title"> Brand Identity </h3>
                    </div>
                    <div class="part-2">
                        <p class="description">
                            Design isn` t just what it looks like and feels
                            like, design is how it works. Everything is
                            designed, a few things were designed well.
                        </p>
                    </div>
                   
                </div>
                <a href="BrandIdentity.html" class="btn  mb-3 detail">Details</a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 text-center" data-aos="zoom-in-up" data-aos-duration="2000">

                <div class="single-service">
                    <div class="part-1">
                  <img class="imgs" src="assets/images/2WebDesign&Developementicon.png">
                        <h3 class="title web"> Web Design &amp; Development</h3>
                    </div>
                    <div class="part-2">
                        <p class="description">
                            Website is your window to the Internet and
                            through it everyone can reach you and Clients
                            can view the services you provide easily.
                     </p>
                    </div>
                    
                </div>
                <a href="WebDev.html" class="btn  mb-3 detail">Details</a>
                </div>

            <div class="col-xl-3 col-lg-6 col-md-6 text-center" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="single-service">
                    <div class="part-1">
                     <img class="imgs mobile" src="assets/images/3MobileAppicon.png">
                        <h3 class="title"> Mobile Apps</h3>
                    </div>
                    <div class="part-2">
                        <p class="description">
                            Get your own Mobile App right now,
                            help your clients to be more attached to
                            you in elegant, technical and easy way. 
                         </p>
                    </div>
                   
                </div>
                <a href="MobileApp.html" class="btn  mb-3 detail">Details</a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 text-center" data-aos="zoom-in-up" data-aos-duration="2000">
                <div class="single-service">
                    <div class="part-1">
                    <img class="img-social" src="assets/images/4DigitalMarketingicon.png">
                        <h3 class="title"> Digital Marketing</h3>
                    </div>
                    <div class="part-2">
                        <p class="description digital-desc"> 
                            Spread your wings on Social Media.<br>
                            We reach your mind, not just your phone.
                         </p>
                    </div>
                    
                    
                </div>
                <a href="DigitalMarketing.html" class="btn  detail">Details</a>
            </div>
        </div>
    </div>
    
</section>




<!--End Services-->

