<!--Start Our-Team-->
<div class="our-team text-center pt-5 pb-5">
    <div class="container">
        <h1 class="section-title pb-5">Our Team</h1>
        <owl-carousel-o [options]="customOptions">
            
            <ng-template carouselSlide id="owl-slide-1">

                <div class="row ">
                    <div class="item  ">
                        <div class="">
                            <img  src="assets/images/0Mostafa.png" alt="Eng-Mostafa" class="img-fluid">
                        </div>
                        <div class=" ">
                            <div class="text justify-content-center">
                                <h5>Mostafa Eldeep</h5>
                                <p>Co-Founder</p>
                                <div class="team-icons">
                                    <div class="col-lg-12 ">
                                        <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                            <li>
                                                <a href="https://www.facebook.com/mostafa.eldeep1" target="_blank">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/MOSTAFA__ELDEEP" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/mostafa.eldeep89/" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fab fa-github"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/mostafa-eldeep-877b27148/" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
</div>





                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="owl-slide-2">

                <div class="row ">
                    <div class="item  ">
                        <div class="">
                            <img  src="assets/images/muhammed.png" alt="Eng-Muhammed" class="img-fluid">
                        </div>
                        <div class="">
                            <div class="text justify-content-center">
                                <h5>Muhammed Eldeep</h5>
                                <p>Co-Founder</p>
                                <div class="team-icons">
                                    <div class="col-lg-12 ">
                                        <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                            <li>
                                                <a href="https://www.facebook.com/MuEldeep777/" target="_blank">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/Eldeep777" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/eldeep777/" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.behance.net/Muhammedeldeep7" target="_blank">
                                                    <i class="fab fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/muahmmed-eldeep-b9b838192/" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>



                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide id="owl-slide-3">

                <div class="row ">
                    <div class="item  ">
                        <div class="">
                            <img src="assets/images/3Hager.png"   class="img-fluid" alt="Hager">
                               
                        </div>
                        <div class="">
                            <div class="text justify-content-center">
                                <h5>Hager Muhammed</h5>
                                <p>Front End Developer</p>
                                    <div class="team-icons">
                                    <div class="col-lg-12 ">
                                        <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                            <li>
                                                <a href="https://www.facebook.com/Hagar.Moh21" target="_blank">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/Hagarmu22705996?s=08" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/Hagar.Moh21/" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/hagar-abdeltawab-aa0b16146" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                                



                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>
            
            <ng-template carouselSlide id="owl-slide-4">

                <div class="row ">
                    <div class="item">
                        <div class="">
                            <img src="assets/images/2Enas.png"   class="img-fluid" alt="Enas">
                               
                        </div>
                        <div class=" ">
                            <div class="text ">
                                <h5>Enas Gad Alrab</h5>
                                <p>Art Director</p>
                                <div class="team-icons">
                                    <div class="col-lg-12 ">
                                        <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                            <li>
                                                <a href="https://www.behance.net/enasgad2679a0a" target="_blank">
                                                    <i class="fab fa-behance"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/enas-gad-5b3103172" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                                
                    
                    



                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>
            
            <ng-template carouselSlide id="owl-slide-5">

                <div class="row ">
                    <div class="item ">
                        <div class="">
                            <img src="assets/images/4Hala.png" class="img-fluid" alt="Hala">
                               
                        </div>
                        <div class=" ">
                            <div class="text ">
                                <h5>Hala Ali </h5>
                                <p>Graphic Designer</p>
                                <div class="team-icons">
                                    <div class="col-md-12 ">
                                        <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                            <li>
                                                <a href="https://www.facebook.com/hala.ali.5686" target="_blank">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.facebook.com/profile.php?id=100001091984389" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/hallaalyy1/" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://linkedin.com/in/hala-ali-7b80aa1b8" target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>


                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide id="owl-slide-6">

                <div class="row ">
                    <div class="item  ">
                        <div class="">
                            <img src="assets/images/5Salma.png" alt="Sallma">
                               
                        </div>
                        <div class="">
                            <div class="text ">
                                <h5>Salma Mohammed </h5>
                                <p>Content Creator</p>
                                    <div class="team-icons ">
                                        <div class="col-lg-12 ">
                                            <ul class=" team-contact list-unstyled d-flex justify-content-center">
                                                <li>
                                                    <a href="https://www.facebook.com/profile.php?id=100010671338869" target="_blank">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                              
                                                
                                            </ul>
                                        </div>
                                </div>
                                    
                    

                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ng-template>


            </owl-carousel-o>


