
        <!--First-Section-->
        <section class="start pb-5">
            <div class="container">
                <app-navbar></app-navbar>

                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-4 col-md-12">
                        <div class="head-text-1">
                        <h2>Brand <br> Identity</h2>
                        <p><span>Design</span> isn`t just what it looks like
                            and feels like. <br>
                            <span>Design</span> is how it<span> works</span>. (Steve Jobs)</p>
                    </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-12">
                        <div class="head-img">
                            <img src="assets/images/0 Brand Identity Vector.png">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!--End First-Section-->

        <!--Start Second-Section-->

        <section class="second pt-5 pb-5">
            <div class="container">
                <h1 class="section-title pb-5">Projects</h1>
                <div class="row pt-5 ">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/1 Eldeep.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Eldeep</h4>
                              <p class="card-text">

                                  Web development <br>
                                & Digital marketing.

                            </p>
                              <a href="https://www.behance.net/gallery/95618901/Eldeep-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/2 Elgamal.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">El Gamal</h4>
                              <p class="card-text">

                                  Air Conditioning <br> <br>

                              </p>
                              <a href="https://www.behance.net/gallery/119655007/Elgaml-Air-Conditioning-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/3 Dar.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Dar El Meamar</h4>
                              <p class="card-text">

                                Constructions Co. <br> <br>

                              </p>
                              <a href="https://www.behance.net/gallery/102141849/Dar-El-Meamar-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/4 i studio.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">I Studio</h4>
                              <p class="card-text">
                                Media Production <br> <br>
                            </p>
                              <a href="https://www.behance.net/gallery/94298175/iStudio-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/5 shady.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Shady Center</h4>
                              <p class="card-text">
                                Computer Center <br> <br>
                              </p>
                              <a href="https://www.behance.net/gallery/94692101/Shady-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/6 Dr. M. salah.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Dr. Mohamed Salah</h4>
                              <p class="card-text">
                                Dental Clinic <br> <br>
                              </p>
                              <a href="https://www.behance.net/gallery/116095951/Dr-Mohamed-Salah-Dentist-Logo-redesign" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row pt-3 pb-5">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/7 Turning Point.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Turning Point</h4>
                              <p class="card-text">
                                Investment Consultancy <br> <br>
                            </p>
                              <a href="https://www.behance.net/gallery/112616333/Turning-Point-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/8 Aboulomania.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Aboulomania</h4>
                              <p class="card-text">
                                Graduation Project <br> <br>
                              </p>
                              <a href="https://www.behance.net/gallery/110592295/Aboulomania-logo" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="assets/images/9 Dr. Hadeel.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title">Dr. Hadeel</h4>
                              <p class="card-text">
                                Nutrition <br> <br>
                              </p>
                              <a href="https://www.behance.net/gallery/97548957/Nutrilight-Brand-Identity" class="btn btn-primary">View Project</a>
                            </div>
                          </div>
                    </div>
                </div>


            </div>

        </section>
<app-footer></app-footer>